*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.CltH5obsrjhXsjC4RnAF_AHaFj?pid=Api&P=0&h=180);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}   
.cash{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 580px;
    min-width: 900px;
    min-height: 580px;
    background-color: #171717;
    border-radius: 24px;
}
.header-cash {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
}
.header-cash img{
    position: absolute;
    display: block;
    right: -440px;
    width: 880px;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.header-cash .text{
    position: absolute;
    width: 200px;
    top: 40px;
    right: -400px;
    color: #E9A3DB;
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
}
.avata {
    display: flex;
    position: absolute;
    top: 116px;
    left: 80px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
}
.avata img{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 12px solid #171717;
}
.avata .text{
    position: absolute;
    left: 120px;
    padding-top: 10px;
    padding-left: 20px;
    width: 280px;
    height: 72px;
    background-color: #171717;
    border-top-right-radius: 40px;
}
.body-cash{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 270px;
    gap: 20px;
}
.infor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 180px;
    height: 256px;
}
.infor button {
    color: white;
    border-radius: 10px;
    width: 144px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}
.infor button:nth-child(1){
    border: none;
    background-color: #5046E5;
}
.infor button:nth-child(2){
    border: 2px solid #5046E5;
    background-color: #171717;
}
.infor button:hover {
    width: 146px;
    height: 32px;
    cursor: pointer;
}
.bio {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 10px;
    width: 144px;
    height: 180px;
    gap: 10px;
}

.head-bio {
    display: flex;              
    align-items: center;        
    gap: 6px;                   
    position: relative;
    color: #BDBDBD;
    padding: 10px;
    font-size: medium;
    width: fit-content;         
}

.head-bio::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 0;                  
    width: 120px;                
    height: 2px;
    background-color: white;
    border-radius: 2px;
}
.body-bio {
    color: white;
    padding-left: 10px;
}
.link {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 256px;
    gap: 24px;
}
.situation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 160px;
    gap: 10px;
    border: 2px solid #434343;
    border-radius: 12px;
}
.situation h2{
    color: #8387F7;
}
.situation p{
    color: #BDBDBD;
}
.box-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;
    width: 360px;
    height: 60px;
}
.box-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;
    width: 360px;
    height: 60px;
    background-color: #262626;
    border-radius: 12px;
}
.hop{
    width: 72px;
}
.follow {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #262626;
    border-radius: 12px;
    height: 72px;
}
.follow p{
    color: #BDBDBD;
    padding-left: 20px;
}
.follow button{
    color: #8387F7;
    font-size: x-large;
    background-color:#262626;
    border: none;
    transition: all 0.3s ease-in-out;
}
.follow button:hover {
    color: #5046E5;
    font-size: xx-large;
    cursor: pointer;
}
.other {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background-color: #262626;
    border: 2px solid #434343;
    border-radius: 12px;
    width: 172px;
    height: 256px;
    justify-content: center;
    align-items: center;
}
.blox {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
}
.blox p {
    position: absolute;
    top: 4px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}
.blox img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
}
.other > p{
    position: absolute;
    top: 180px;
    left: 640px;
}

.other button {
    position: absolute;
    top: 220px;
    color: #8387F7;
    background-color: #262626;
    border: 2px solid #8387F7;
    border-radius: 4px;
    width: 152px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}
.other button:hover {
    width: 156px;
    height: 26px;
    cursor: pointer;
}