.red{
    color: red;
    background-color: yellow;
}
h1{
    color: blue;
}
h2{
    color: green;
}
.container{
    background-color: gray;
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px;
    background-image: url("https://photo.znews.vn/w660/Uploaded/mdf_eioxrd/2021_07_06/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}